<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2008 Sonatype, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
-->

<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappings">
      <lifecycleMapping
            class="org.sonatype.tycho.m2e.internal.TychoLifecycleMapping"
            id="org.sonatype.tycho.m2e.tychoLifecycleMapping.eclipse-plugin"
            name="Tycho Build Lifecycle Mapping for eclipse-plugin"
            packaging-type="eclipse-plugin">
      </lifecycleMapping>
      <lifecycleMapping
            class="org.sonatype.tycho.m2e.internal.TychoLifecycleMapping"
            id="org.sonatype.tycho.m2e.tychoLifecycleMapping.eclipse-test-plugin"
            name="Tycho Build Lifecycle Mapping for eclipse-test-plugin"
            packaging-type="eclipse-test-plugin">
      </lifecycleMapping>
      <lifecycleMapping
            class="org.sonatype.tycho.m2e.internal.TychoLifecycleMapping"
            id="org.sonatype.tycho.m2e.tychoLifecycleMapping.eclipse-feature"
            name="Tycho Build Lifecycle Mapping for eclipse-feature"
            packaging-type="eclipse-feature">
      </lifecycleMapping>
      <lifecycleMapping
            class="org.sonatype.tycho.m2e.internal.TychoLifecycleMapping"
            id="org.sonatype.tycho.m2e.tychoLifecycleMapping.eclipse-update-site"
            name="Tycho Build Lifecycle Mapping for eclipse-update-site"
            packaging-type="eclipse-update-site">
      </lifecycleMapping>
      <lifecycleMapping
            class="org.sonatype.tycho.m2e.internal.TychoLifecycleMapping"
            id="org.sonatype.tycho.m2e.tychoLifecycleMapping.eclipse-application"
            name="Tycho Build Lifecycle Mapping for eclipse-application"
            packaging-type="eclipse-application">
      </lifecycleMapping>
   </extension>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="org.sonatype.tycho.m2e.internal.OsgiBundleProjectConfigurator"
            id="maven-bundle-plugin"
            name="Project Configurator for maven-bundle-plugin osgi-bundle projects">
         <pluginExecutionFilter>
            <groupId>org.apache.felix</groupId>
            <artifactId>maven-bundle-plugin</artifactId>
            <versionRange>[1.0.0,)</versionRange>
            <goals>
               <goal>manifest</goal>
            </goals>
         </pluginExecutionFilter>
      </configurator>
   </extension>
</plugin>
