<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.eclipse.m2e.launching.mavenLaunchParticipants">
     <mavenLaunchParticipant
           class="org.sonatype.tycho.m2e.insitu.internal.MavenLaunchParticipant"
           id="org.sonatype.tycho.m2e.mavenLaunchParticipant"
           modes="run,debug"
           name="Tycho Launch Participant">
     </mavenLaunchParticipant>
  </extension>
</plugin>
