<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.eclipse.m2e.launching.mavenLaunchParticipants">
     <mavenLaunchParticipant
           class="org.sonatype.tycho.m2e.insitu.internal.MavenLaunchParticipant"
           id="org.sonatype.tycho.m2e.mavenLaunchParticipant"
           modes="run,debug"
           name="Tycho Launch Participant">
     </mavenLaunchParticipant>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="org.eclipse.m2e.core.preferences.Maven2PreferencePage"
           class="org.sonatype.tycho.m2e.insitu.internal.ui.TychoPreferencePage"
           id="org.sonatype.tycho.m2e.insitu"
           name="Tycho in situ development">
     </page>
  </extension>
</plugin>
